<nav class="navbar navbar-light bg-light form-inline" style="padding: 0; width: 100%">
    <a class="navbar-brand" style="margin-left: 10px" href="/">
        <span th:text="${@environment.getProperty('application.name')}" style="font-family: Consolas, serif;"></span>
    </a>

    <!--/*@thymesVar id="search" type="com.cuupa.opengarden.Search"*/-->
    <form th:action="@{/search}" method="post" th:object="${search}">
        <div style="margin-right: 20px">
            <nav class="navbar navbar-light bg-light">
                <input aria-label="ARIA-LABEL" class="form-control" th:placeholder="${search.getPlaceholder()}"
                       th:disabled="${search.getDisabled()}"
                       type="search"
                       th:field="${search.searchTerm}">
                <button class="btn btn-outline-success"
                        th:disabled="${search.getDisabled()}" type="submit">
                    <span th:text="${search.getTextSearch()}"></span>
                </button>

            </nav>
        </div>
    </form>


</nav>