<div class="row">
    <div class="col-md">
        <div th:switch="${plant.light_ordinal}">
            <div th:case="0">
                <div class="sun"></div>
            </div>
        </div>
        <small class="text-muted">
            <span th:text="${plant.light}"></span>
        </small>
    </div>

    <div class="col-md">
        <div class="row">
            <div class="col-md-auto">
                <div th:switch="${plant.waterRequirement_ordinal}">
                    <div th:case="0">
                        <img th:src="@{/images/water_outline.svg}">
                        <span th:text="${plant.waterRequirement}"></span>
                    </div>
                    <div th:case="1">
                        <img th:src="@{/images/water.svg}">
                        <span th:text="${plant.waterRequirement}"></span>
                    </div>
                    <div th:case="2">
                        <img th:src="@{/images/water.svg}">
                        <img th:src="@{/images/water.svg}">
                        <span th:text="${plant.waterRequirement}"></span>
                    </div>
                    <div th:case="3">
                        <img th:src="@{/images/water.svg}">
                        <img th:src="@{/images/water.svg}">
                        <img th:src="@{/images/water.svg}">
                        <span th:text="${plant.waterRequirement}"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-auto">
                    <small class="text-muted">
                        <span th:text="${waterRequirement_text}"></span>
                    </small>
                </div>
            </div>
        </div>
    </div>
</div>

<br>

<div class="row">
    <div class="col-md">
        <div class="row">
            <div class="col-md-auto">
                <div th:switch="${plant.waterSoilBoolean}">
                    <div th:case="true">
                        <img th:src="@{/images/watering-can.svg}">
                        <span th:text="${plant.waterSoil}"></span>
                    </div>
                    <div th:case="false">
                        <img th:src="@{/images/watering-can.svg}">
                        <span th:text="${plant.waterSoil}"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-auto">
                    <small class="text-muted">
                        <span th:text="${waterSoil_text}"></span>
                    </small>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md">
        <div class="row">
            <div class="col-md-auto">
                <div th:switch="${plant.waterleafsBoolean}">
                    <div th:case="true">
                        <img th:src="@{/images/leaf.svg}">
                        <span th:text="${plant.waterleafs}"></span>
                    </div>
                    <div th:case="false">
                        <img th:src="@{/images/leaf_off.svg}">
                        <span th:text="${plant.waterleafs}"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-auto">
                    <small class="text-muted">
                        <span th:text="${waterleafs_text}"></span>
                    </small>
                </div>
            </div>
        </div>
    </div>
</div>

<br/>

<div class="row">
    <div class="col-md">
        <div class="row">
            <div class="col-md-auto">
                <img th:src="@{/images/thermometer-chevron-down.svg}">
                <span th:text="${plant.minTemperatureSingle}"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-auto">
                <small class="text-muted">
                    <span th:text="${minTemperatureSingle_text}"></span>
                </small>
            </div>
        </div>
    </div>

    <div class="col-md">
        <div class="row">
            <div class="col-md-auto">
                <img th:src="@{/images/thermometer-chevron-down.svg}">
                <span th:text="${plant.minTemperaturePeriod}"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-auto">
                <small class="text-muted">
                    <span th:text="${minTemperaturePeriod_text}"></span>
                </small>
            </div>
        </div>
    </div>
</div>

<br/>

<div class="row">
    <div class="col-md">
        <div class="row">
            <div class="col-md-auto">
                <img th:src="@{/images/thermometer-chevron-down.svg}">
                <span th:text="${plant.minIdealTemperature}"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-auto">
                <small class="text-muted">
                    <span th:text="${minIdealTemperature_text}"></span>
                </small>
            </div>
        </div>
    </div>

    <div class="col-md">
        <div class="row">
            <div class="col-md-auto">
                <img th:src="@{/images/thermometer-chevron-up.svg}">
                <span th:text="${plant.maxIdealTemperature}"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-auto">
                <small class="text-muted">
                    <span th:text="${maxIdealTemperature_text}"></span>
                </small>
            </div>
        </div>
    </div>
</div>

<br/>

<div class="row">
    <div class="col-md">
        <div class="row">
            <div class="col-md-auto">
                <img th:src="@{/images/snowflake-thermometer.svg}">
                <span th:text="${plant.frostResistent}"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-auto">
                <small class="text-muted">
                    <span th:text="${frostResistent_text}"></span>
                </small>
            </div>
        </div>
    </div>

    <div class="col-md">
        <div class="row">
            <div class="col-md-auto">
                <img th:src="@{/images/dna.svg}">
                <span th:text="${plant.crossPolination}"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-auto">
                <small class="text-muted">
                    <span th:text="${crossPolination_text}"></span>
                </small>
            </div>
        </div>
    </div>
</div>